@using TechWizard.Business.ViewModels
@model PublicHardwareViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">

    <h1 class="display-1" id="TWTitle">TECH W]|[Z/\RD</h1>
</div>

<partial name="_Carousel" model="Model"/>


