@using TechWizard.Business.ViewModels
@model ShoppingViewModel
@{
    ViewData["Title"] = "EndMessage";
}
<div id="messageConatiner">
    <h5 id="messageSignil">]|[</h5>
    <h5 id="messageSent" style="font-size:40px;">@Model.Message</h5>
</div>

