@using TechWizard.Business.ViewModels.DTOs
@model ContactDTO
@{
    ViewData["Title"] = "Message";
}
<div id="messageConatiner">
    <h1 id="messageSignil">]|[</h1>
    <h1 id="messageSent">@Model.Message</h1>
</div>